@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&family=Cabin:ital,wght@1,500&family=Gentium+Plus&family=Joan&family=Kdam+Thmor+Pro&family=Merriweather:ital,wght@1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Noto+Sans:wght@600&family=Playfair+Display:ital@1&family=Poppins:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;

}

div.container {
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 130vh;
    min-height: 90vh;
    box-shadow:  rgb(0 0 0 / 15%) 0px 6px 12px;
}


div.login-content {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    position: relative;
    top: -250px;
    font-family: 'Merriweather', sans-serif;
    font-size: 2.6rem;
    line-height: 1.6em;
    left: 30px;
}

input.form-control {
   border: none;
   border-bottom: 1px solid rgb(71, 70, 70);
   margin-bottom: 50px;
    width: 400px;
    height: 50px;
    position: relative;
    left: -130px;
    bottom: 50px;
    
}

input.form-control:focus{
    border-bottom: 2px solid rgb(0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.login-image {
    position: relative;
    top: -60px;
}

button.main-btn {
   display: inline-block;
   background-color: rgb(97, 97, 247);
   color: aliceblue;
   width: 120px;
   height: 50px;
   border-radius: 2px;
   cursor: pointer;
   border-color: rgb(114, 114, 244);
   border-radius: 12px;
   margin-left: -10rem;
   margin-top: 20px;
}

button.main-btn:hover {
    background-color:  rgb(59, 59, 227);
}