@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&family=Cabin:ital,wght@1,500&family=Gentium+Plus&family=Joan&family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Playfair+Display:ital@1&family=Poppins:ital,wght@1,300&family=Roboto+Mono:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

nav.navbar {
    position: relative;
    top: 0;
    left: 0;
    right: auto;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    z-index: 10;
}

div.container-fluid {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

}

a.navbar-brand {
    padding-left: 100px;
    font-size: 40px;
    font-weight: 500;
}

li.nav-item {
    padding-top: 13px;
    margin-right: 10px;
}

li.nav-item>button {
    background-color: black;
    color: white;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-top: -10px;
    margin-left: 15px;
    border-radius: 99em;
    cursor: pointer;
}

section.giris {
    border-bottom: 1px solid rgb(0, 0, 0);
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

}

div.header-text .main {
    position: relative;
    display: flex;
    font-size: 25px;
    left: -23rem;
    top: 80px;
    font-weight: 400;
}

div.header-text .btn {
    position: absolute;
    left: 200px;
    top: 400px;
    width: 240px;
    height: 50px;
    font-size: 20px;
    border-radius: 99em;
    background-color: black;
    color: white;
    font-size: 22px;
}

h1.text {
    position: relative;
    left: -380px;
    top: 70px;
    font-size: 90px;
    width: 50rem;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

div.trend-icon {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

section.trending {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(192, 188, 188);
}

div.card {
    border: none;
    margin-bottom: 28px;
    align-items: flex-end;
}

div.card-body {
    display: block;
    padding-bottom: 35px;
    margin-left: -30px;
    margin-top: 12px;
    word-wrap: break-word;
    width: 320px;
}

h5.card-title {
    margin-left: -100px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

p.card-text {
    margin-left: -100px;
}

section.blog {
    box-sizing: inherit;
    margin-bottom: 48px;
}

div.blog-person {
    display: flex;
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    height: 400px;
    margin-bottom: -12rem;
}

div.blog-person > a img {
    border-radius: 50%; 
    width: 20px; 
    height: 20px; 
    margin-bottom: 25vh;
}

div.person-image {
    display: flex;
    align-items: center;
    position: relative;
    left: 15px;
    width: 350px;
    margin-bottom: 40px;
    font-size: 15px;
}


div.person-name h4 {
   display: flex;
   width: 150px;
    flex-direction: row;
    margin-left: -15rem;
    margin-bottom: 25vh;
    font-size: 18px;
}


div.blog-name h2 {
 position: relative;
 display: flex;
 color: black;
 font-weight: 700;
 font-size: 25px;
 width: 30rem;
 line-height: 10px;
 margin-left: -33rem;
 padding-top: 100px;
}

div.reading{
    display: flex;
    align-items: center;
}


div.reading > h3 {
    font-size: 17px;
    margin-right: 18px;
    padding-top: 10px;
    margin-left: -33rem;
}

div.blog-img {
   display: block;
   position: relative;
   bottom: 9rem;
   left: -20px;
}

i.fa-heart {
    display: block; 
    position: relative; 
    left: -80px; 
    top: -15px; 
    font-size: 24px; 
    cursor: pointer;
}

aside#categories {
   display: flex;
   position: relative;
   flex-flow: row wrap;
   align-items: center;
   justify-content: space-around;
}

div.categories-header {
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    padding-bottom: 24px;
}

div.c-name > p {
  text-transform: uppercase;
  letter-spacing: 0.083em;
  line-height: 17px;
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: -5rem;
  display: block;
  box-sizing: inherit;
}

div.categorie {
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 6px;
    margin-bottom: 8px;
    margin-right: 8px;
    display: inline-block;
}

div.categorie > p {
    position: relative;
    top: 8px;
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
    line-height: 12px;
    padding: 6px 16px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.categories-footer {
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

div.item {
    margin-right: 26px;
    margin-bottom: 8px;
    display: block;
}

button.to-top {
    cursor: pointer;
    background: rgb(255, 251, 251);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    transition: all .4s;
}