@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&family=Cabin:ital,wght@1,500&family=Gentium+Plus&family=Joan&family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Playfair+Display:ital@1&family=Poppins:ital,wght@1,300&family=Roboto+Mono:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

nav.navbar {
    position: relative;
    top: 0;
    left: 0;
    right: auto;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    z-index: 10;
}

div.container-fluid {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

a.navbar-brand {
    padding-left: 100px;
    font-size: 40px;
    font-weight: 500;
}

li.nav-item {
    padding-top: 13px;
    margin-right: 10px;
}

li.nav-item> a>button {
    background-color: black;
    color: white;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-left: 15px;
    border-radius: 99em;
    cursor: pointer;
}

section.giris {
    border-bottom: 1px solid rgb(0, 0, 0);
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    height: 50vh;
}

div.header-text .main {
    position: relative;
    display: flex;
    font-size: 25px;
    left: -23rem;
    top: 80px;
    font-weight: 400;
}

div.header-text .btn {
    position: absolute;
    left: 200px;
    top: 400px;
    width: 240px;
    height: 50px;
    font-size: 20px;
    border-radius: 99em;
    background-color: black;
    color: white;
    font-size: 22px;
}

h1.text {
    position: relative;
    left: -380px;
    top: 70px;
    font-size: 90px;
    width: 50rem;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

/* TRENDİNG */
.trending{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 12px;
}

.trend-container{
    margin: 0 64px;
    min-width: 0;
    max-width: 1192px;
    width: 100%;
}

.content {
    padding-top: 40px;
    padding-bottom: 16px;
}

.trend-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.trend-header i {
    margin-right: 10px;
}

.trend-header h2{
    letter-spacing: 0;
    font-weight: 600;
    font-size: 16px;
    color: rgba(41, 41, 41, 1);
    line-height: 20px;
}

.cards {
    width: 100%;
    display: block;
}

.cards-flex {
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    display: flex;
    margin-right: -16px;
    gap: 40px;
    margin-left: -16px;
    width: calc(100% - 32px);
}

.card{
    flex-grow: 0;
    border: none;
}

@media screen and(min-width: 1080px){
    .card{
        max-width: 33.3333333%;
        flex-basis:  33.3333333%;
        padding-right: 16px;
        padding-left: 16px;
    }
}

.card-details {
    height: 100%;
    width: 100%;
}

.card-flex{
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
}

.number{
    flex: 0 0 auto;
    width: 40px;
    top: 4px;
    position: relative;
    margin-right: 16px;
    
}
.number span {
    color: rgba(230, 230, 230, 1);
    letter-spacing: 0;
    line-height: 36px;
    font-size: 30px;
    font-weight: 500;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.card-main{
   display: flex;
   flex-direction: column;
 
}
.hh-y{
    margin-bottom: 10px;
}
.al-bp-aw{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-img{
    position: relative;
}
.card-img img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(242, 242, 242, 1);
    box-sizing: border-box;
}
.in-al{
    display: flex;
    flex-wrap: wrap;
    margin-left: 8px;
    align-items: center;
}
.al{
    display: flex;
    align-items: center;
}
.al a > h4{
 padding-right: 2px;
 word-break: break-all;
 font-size: 16px;
 color: black;
}

.hh{
    margin-bottom: 8px;
    display: block;
}
.hh a > h2 {
    max-height: 80px;
    font-weight: 700;
    text-overflow: ellipsis;
    letter-spacing: 0;
    font-size: 19px;
    overflow: hidden;
    color: rgba(41, 41, 41, 1);
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bu-b-hw{
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    line-height: 10px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: -12px;
}
.al-bp{
    display: flex;
    align-items: center;
}
.dot{
    padding-right: 6px;
    padding-left: 6px;
    display: block;
}
.tik{
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
    line-height: 20px;
}
/* BLOG */
main.blog-page{
  display: flex;
  justify-content: center;
  box-sizing: inherit;
}
section.blog {
    margin: 0 64px;
    min-width: 0;
    max-width: 1192px;
    width: 100%;
    display: flex;
}

div.blog-container{
    display: grid;
    grid-template-columns: repeat(8,1fr) repeat(4, minmax(48px, 1fr));
    grid-template-rows: 1fr;
    position: relative;
    left: 50px;
    
}

div.blog-person {
    display: flex;
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    height: 400px;
    margin-bottom: -12rem;
}

div.blog-person > a img {
    border-radius: 50%; 
    width: 20px; 
    height: 20px; 
    margin-bottom: 25vh;
}

div.person-image {
    display: flex;
    align-items: center;
    position: relative;
    left: 15px;
    width: 350px;
    margin-bottom: 40px;
    font-size: 15px;
}


div.person-name h4 {
   display: flex;
   justify-content: space-around;
   width: 120px;
    flex-direction: row;
    margin-left: -14.8rem;
    margin-bottom: 25vh;
    font-size: 18px;
}


div.blog-name h2 {
 position: relative;
 display: flex;
 color: black;
 font-weight: 700;
 font-size: 25px;
 bottom: -30px;
 width: 30rem;
 line-height: 20px;
 margin-left: -31rem;
 padding: 100px 0px 20px;
}

div.reading{
    display: flex;
    align-items: center;
}


div.reading > h3 {
    font-size: 17px;
    margin-right: 18px;
    padding-top: 10px;
    margin-left: -31rem;
}

.blog-img img {
   display: block;
   width: 190px;
   height: 160px;
   position: relative;
   bottom: 11rem;
   left: -20px;
}

.material-symbols-outlined{
    display: block; 
    position: relative; 
    left: -70px; 
    top: -30px; 
    font-size: 32px; 
}

.material-symbols-outlined:hover , 
.material-symbols-outlined:focus{
  cursor: pointer;
}

.material-symbols-outlined:active{
    transform: scale(0.97);
}




div .roww{
    grid-column: 1 / span 7;
    grid-row-start: 1;

}
aside#categories {
    grid-column: 9 / span 3;
    grid-row-start: 1;
    margin-top: 9rem;
}

#categories > .container {
  position: sticky;
  top: 107px;
}

div.categories-header {
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    padding-bottom: 24px;
}

div.c-name > p {
  text-transform: uppercase;
  letter-spacing: 0.083em;
  line-height: 17px;
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: -5rem;
  display: block;
  box-sizing: inherit;
}

div.categorie {
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 6px;
    margin-bottom: 8px;
    margin-right: 8px;
    display: inline-block;
}

div.categorie > p {
    position: relative;
    top: 8px;
    font-size: 13px;
    color: rgba(117, 117, 117, 1);
    line-height: 12px;
    padding: 6px 16px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.categories-footer {
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

div.item {
    margin-right: 26px;
    margin-bottom: 8px;
    display: block;
}

button.to-top {
    cursor: pointer;
    background: rgb(255, 251, 251);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
    transition: all .4s;
}

/* LOGİN CSS */

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&family=Cabin:ital,wght@1,500&family=Gentium+Plus&family=Joan&family=Kdam+Thmor+Pro&family=Merriweather:ital,wght@1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Noto+Sans:wght@600&family=Playfair+Display:ital@1&family=Poppins:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;

}

div.login-container {
    display: block;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 120px;
    width: 100%;
    max-width: 160vh;
    min-height: 90vh;
    box-shadow:  rgb(0 0 0 / 15%) 0px 6px 12px;
}


div.login-content {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.login-h2 {
    position: relative;
    top: -250px;
    font-family: 'Merriweather', sans-serif;
    font-size: 2.6rem;
    line-height: 1.6em;
    left: 30px;
}

input#login-form {
   border: none;
   border-bottom: 1px solid rgb(71, 70, 70);
   margin-bottom: 50px;
    width: 400px;
    height: 50px;
    position: relative;
    left: -130px;
    bottom: 50px;
    
}

input#login-form:focus{
    border-bottom: 2px solid rgb(0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.login-image {
    position: relative;
    visibility: visible;
    top: -60px;
}

button.main-btn1 {
   display: inline-block;
   background-color: rgb(97, 97, 247);
   color: aliceblue;
   width: 120px;
   height: 50px;
   border-radius: 2px;
   cursor: pointer;
   border-color: rgb(114, 114, 244);
   border-radius: 12px;
   margin-left: -10rem;
   margin-top: 20px;
}

button.main-btn1:hover {
    background-color:  rgb(59, 59, 227);
}


/* REGİSTER CSS */

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&family=Cabin:ital,wght@1,500&family=Gentium+Plus&family=Joan&family=Kdam+Thmor+Pro&family=Merriweather:ital,wght@1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Noto+Sans:wght@600&family=Playfair+Display:ital@1&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;

}

div.register-container {
    display: block;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 120px;
    width: 100%;
    max-width: 160vh;
    min-height: 90vh;
    box-shadow:  rgb(0 0 0 / 15%) 0px 6px 12px;
}

div.register-content {
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.register {
    position: relative;
    top: -230px;
    left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 1.4em;
    left: 180px;
}

input#register {
    border: none;
    border-bottom: 1px solid rgb(71, 70, 70);
     width: 350px;
     height: 50px;
     position: relative;
     left: -140px;
     bottom: 25px;
     margin-bottom: 30px;
     
 }

 input#register:focus{
    border-bottom: 2px solid rgb(0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.register-image {
    position: relative;
    top: -30px;
    right: 18px;
}

div.register-image > figure {
    height: 420px; 
    max-width: 420px;
    z-index: 111;
}

button.main-btn2 {
    position: absolute;
    background-color: rgb(97, 97, 247);
    color: aliceblue;
    width: 120px;
    height: 50px;
    border-radius: 2px;
    cursor: pointer;
    border-color: rgb(114, 114, 244);
    border-radius: 12px;
    margin-left: -10rem;
    margin-top: 4rem;
 }

 button.main-btn2:hover {
    background-color:  rgb(59, 59, 227);
}

 a.login-link {
    display: flex;
    margin-left: 7rem;
    margin-top: 15px;
 }
 

 /* ADDPOST */
 
 * {
    margin: 0;
    padding: 0;
   box-sizing: border-box;

}

div.add-container {
    display: block;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 160px;
    width: 100%;
    max-width: 160vh;
    min-height: 110vh;
    box-shadow:  rgb(0 0 0 / 15%) 0px 6px 12px;
}

div.add-content {
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.add {
    position: relative;
    top: -120px;
    left: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    line-height: 1.4em;
}

input#add {
    border: none;
    border-bottom: 1px solid rgb(71, 70, 70);
     width: 100px;
     height: 50px;
     position: relative;
     left: -80px;
     bottom: 25px;
     margin-bottom: 30px;
 }

 textarea.form-control {
    border: none;
    border-bottom: 1px solid rgb(2, 2, 2);
     width: 600px;
     height: 400px;
     position: absolute;
     left: -299px;
     top: 150px;
     bottom: 25px;
     margin-bottom: 30px;
 }

 input#add:focus{
    border-bottom: 2px solid rgb(0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.main-btn {
    position: absolute;
    background-color: rgb(97, 97, 247);
    color: aliceblue;
    width: 120px;
    height: 50px;
    border-radius: 2px;
    cursor: pointer;
    border-color: rgb(114, 114, 244);
    border-radius: 12px;
    margin-left: -20rem;
    margin-top: 32rem;
 }

 button.main-btn:hover {
    background-color:  rgb(59, 59, 227);
}

 a.login-link {
    display: flex;
    margin-left: 7rem;
    margin-top: 15px;
 }
 
 



 /* JOİN CSS */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-weight: 600;
}

/* JOİN */

div.dialog {
    animation: 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 normal forwards running k2;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 110vh;
}

div.dialog-container {
    display: block;
    margin-bottom: auto;
    margin-top: auto;
    padding: 0;
}

div.join-container {
    background: #ffffff;
    box-shadow: rgb(0 0 0 / 15%) 0px 6px 12px;
    width: 680px;
    height: 90vh;
    border-radius: 20px;
    top: 30px;
    position: relative;
    display: block;
}

div.welcome {
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
}

div.join-content {
    margin-top: 10rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    flex-direction: column;
    width: 40rem;
}

h2.join{
    position: relative;
    top: 120px;
    left: -8px;
    letter-spacing: 0.9px;
    line-height: 32px;
    font-size: 29px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

div.google {
    position: relative;
    left: 5px;
    font-family: 'Merriweather', serif;
    width: 260px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 1.5em;
    padding: 10px 15px 11px 18px;
    font-size: 16px;
    color:  rgb(66, 64, 64);
    margin-bottom: 18px;
}

div.facebook {
    position: relative;
    left: 5px;
    font-family: 'Merriweather', serif;
    width: 260px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 1.5em;
    padding: 10px 15px 11px 18px;
    font-size: 16px;
    color:  rgb(66, 64, 64);
    margin-bottom: 18px;
}

div.email {
    position: relative;
    left: 5px;
    font-family: 'Merriweather', serif;
    width: 260px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 1.5em;
    padding: 14px 15px 11px 18px;
    font-size: 16px;
    color: rgb(66, 64, 64);
    margin-bottom: 18px;
}

div.google:hover, div.facebook:hover, div.email:hover {
    border-color: rgb(63, 62, 62);
}

div.account {
    font-size: 19px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: rgb(41, 41, 41, 1);   
    margin-top: 25px;
}

div.account > p > a {
    color: rgb(8, 101, 8)
}

div.warning > h4 {
    display: block;
   padding: 50px 0 10px 96px;
  font-size: 13px;
  color: rgba(117, 117, 117, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

div.close > button {
    position: relative;
    left: 39rem;
    bottom:36rem;
    width: 32px; 
    height: 32px;
    background-color: #ffffff;
    border: 1px solid #ffff;
    cursor: pointer;
}

#close-menu-btn{
    display: none;
}

/* media  tablet screen */

@media only screen and (max-width: 990px) {
    h1.text{
         text-align: left;
         align-items: center;
         line-height: 96px;
         letter-spacing: -0.05em;
         padding-left: 60%;
         font-size: 70px;
    }
    section.giris {
        height: 60vh;
    }

    div.header-text .main {
        width: 100%;
        margin-left: 60%;
        padding-top: 8px;
    }
   ul.navbar-nav {
      position: relative;
      height: 220px;
      display: none;
      margin-right: -15px;
   }
     
    .navbar-nav .nav-item{
        animation: animateNavItems 450ms linear forwards;
        transform-origin: bottom right;
        background-image: linear-gradient(140deg, #cc9cf8 0%, #5599dc 100%);
    }  
    .navbar-nav .nav-item:hover{
        background-image: linear-gradient(140deg, #cca7ef 0%, #75aee7 100%);
        cursor: pointer;
    }
   ul.navbar-nav .nav-item:nth-child(2){
    animation-delay: 350ms;

   }
   ul.navbar-nav .nav-item:nth-child(3){
    animation-delay: 400ms;

   }
   ul.navbar-nav .nav-item:nth-child(4){
    animation-delay: 450ms;
   
   }
   ul.navbar-nav .nav-item:nth-child(5){
    animation-delay: 550ms;
    margin-bottom: 20px;
   }
   /* dropdown animations */
   @keyframes animateNavItems {
    0% {
       transform: rotateZ(-90deg) rotateY(130deg) scale(0.3);
    }
    100% {
        transform: rotateZ(0) rotateY(0) scale(1);
        opacity: 1;
    }
   }
   .nav-item{
     padding-left: 20px;
     padding-bottom: 10px;
   }
   li.nav-item> a>button {
     margin-left: -5px;
     margin-top: 3px;
   }
    #close-menu-btn  {
        background-color: transparent;
        cursor: pointer;
        border: none;
        width: 80px;
        height: 40px;
        display: none;
        position: relative;
        right: 50px;
        
    } 
    #close-menu-btn:focus, #open-menu-btn:focus{
              outline: none;
    }
   div.card{
     display: flex;
      max-width: calc(80% - 2em);
   }
   main.blog-page{
    padding-top: 56px;
   }
   section.blog{
    margin: 0 64px;
   }
   .blog-container{
    margin-right: -200px;
    width: 130%;
 
    grid-template-columns: repeat(8,1fr) repeat(4, minmax(48px, 1fr));
   }
   .roww{
    grid-row-start: 1;
    grid-column: 1 \ span 8;
   }
   .col-mdd-8{
    margin-bottom: 48px;
   }
   aside#categories{
    grid-column: 9 \ span 4;
    grid-row-start: 1;
   }
   #categories > .container{
    display: block;
    margin-left: -80px;
   }
   div.blog-person > a img {
    position: relative;
    right: 90px;
   }
   div.person-name h4{
      position: relative;
      right: 55px;
   }


}



