<body>
    <div>
		<div class="register">
			<div class="register-container">
				<div class="register-content">
					<h2 class="register">Kayıt ol</h2>

					<form  action="/users/register" method="post">
						<div class="row">
							<div class="offset-2 col-md-8 form">
								<div class="form-group">
									<input id="register" class="form-control" name="firstname" type="text" placeholder="ad" 
										required="required"
                                        style=" position: absolute;  top: -20px; left: -8rem; width: 130px;"
										data-validation-required-message="lütfen isminizi giriniz.">
									<p class="help-block text-danger"></p>
								</div>

                                <div class="form-group">
									<input id="register" class="form-control" name="lastname" type="text" placeholder="soyad "
										required="required"
                                        style="width: 130px; position: relative; top: -35px; left: 55px;"
										data-validation-required-message="lütfen soyadınızı giriniz.">
									<p class="help-block text-danger"></p>
								</div>

                                <div class="form-group">
									<input id="register" class="form-control" name="email" type="email" placeholder="email "
										required="required"
										data-validation-required-message="lütfen mailinizi giriniz.">
									<p class="help-block text-danger"></p>
								</div>

                                <div class="form-group">
									<input id="register" class="form-control" name="password" type="password" placeholder="şifre "
										required="required"
										data-validation-required-message="lütfen şifrenizi giriniz.">
									<p class="help-block text-danger"></p>
								</div>
							</div>
							<div class="col-lg-12 text-center">
								<div id="success"></div>
								<button id="sendLoginButton" class="main-btn2" type="submit">kayıt ol</button>
							</div>
						</div>
					</form>
                    <div class="register-image">
						<figure>
							<img src="/img/login.jpg" style="height: 420px; max-width: 420px;" alt="">
						</figure>
                        <a href="#" class="login-link">zaten bir hesabım var</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>